* {
  --blue: #7879f1;
  --blue2: #6363ce;
  --red-gradients: rgb(132, 25, 25);
  --shadow-gradients-1: inset 0 0 1em rgb(255, 217, 0), 0 0 1em rgb(255, 0, 0);
  --shadow-gradients-2: inset 0 0 1em rgba(255, 217, 0, 0.434),
    0 0 1em rgba(255, 0, 0, 0.426);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  background-image: url(./img/4Cb2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  align-content: center;
}

body,
button,
input {
  font-family: "Cinzel", serif;
}
header {
  border-radius: 6px;
  background: #ffffffa5;
  background-attachment: fixed;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.6rem;
  margin: 0 auto;
  text-align: center;
  position: absolute;

  width: min(42.8rem, 90%);
  box-shadow: var(--shadow-gradients-1);
}


button {
  background-color: var(--blue);
  font-weight: bold;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  transition: background 0.4s;
}
button:hover {
  background-color: var(--blue2);
  box-shadow: var(--red-gradients);
}
.hide {
  display: none;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.6rem;
  font-weight: bold;
  color: var(--red-gradients);
}
h1,
h2,
p,
button {
  user-select: none !important;
  -ms-user-select: none !important;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -webkit-touch-callout: none !important;
}
.curso {
  text-align: center;
  font-size: 1.8rem;

  font-family: "Phudu", cursive;

  margin-top: 4rem;
  font-weight: bold;
  margin-bottom: -2rem;
}

p {
  color: rgb(39, 71, 99);

  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  font-size: 1.8rem;
}
.numeros {
  color: var(--red-gradients);
  font-family: "Cinzel", serif;
}
strong {
  font-family: "Tilt Prism", cursive;
  font-size: 2rem;
  color: var(--blue);
}
form {
  margin-top: 4.8rem;
  display: flex;
  justify-content: center;
}
input,
button {
  box-shadow: var(--shadow-gradients-2);
  border: none;
  padding: 1.65rem;
}
input {
  background-color: #dce2e9;
  width: 6rem;
  border-radius: 0 0.4rem 0.4rem 0;
}

/*screen2*/
h2 {
  font-size: 2.4rem;
  font-weight: normal;
  font-weight: bold;
  margin-bottom: 3.3rem;
}
.screen2 button {
  border-radius: 0.4rem;
}

h1 span {
  transition: 0.5s linear;
}

.Ativaleds span:nth-child(1) {
  margin-right: 5px;
}
.Ativaleds span:nth-child(1):after {
  content: "'";
}
.Ativaleds span:nth-child(2) {
  margin-left: 30px;
}
.Ativaleds span {
  color: var(--blue);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
